<!-- 
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
-->

<mat-card style="width: 300px; margin: 50px auto; box-shadow: none;">

  <div style="overflow: hidden; height: 200px; border-bottom: 1px solid; margin-bottom: 25px;">
    <img mat-card-image src="https://image.shutterstock.com/image-vector/core-logo-design-vector-technology-260nw-1493139665.jpg">
  </div>

  <mat-card-header style="text-align: center;">
    <mat-card-title>Core.theme </mat-card-title>
    <mat-card-subtitle>This code is brought to you by Elwood Berry @ www.elwoodberry.com</mat-card-subtitle>
  </mat-card-header>

</mat-card>


<!-- 
-------------------------------------------------
Copyright 2021 ElwoodBerry.com LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.elwoodberry.com 
-->