<!-- 
SLIDING PANEL | CRM v.alpha
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
-->

<div class="advance-base" fxLayout="row">
  <div class="left-column" fxFlex="20%">


    <!-- FILTER -->
    <mat-form-field appearance="standard" style="background-color: #FFFFFF; width: 100%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <!-- DATA TABLE -->
    <table mat-table [dataSource]="dataSource" class="" style="width: 100%; background-color: #FFFFFF;">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
        <td mat-cell *matCellDef="let element" class="advance-mat-cell" (click)="showDetails(element)">

          <!-- DATA CELL TEMPLATE -->
          <div style="color: #454545; font-size: 16px; font-weight: 700; padding: 5px 0; margin-top: 10px;">
            {{element.firstName}} {{element.lastName}}
          </div>
          <div style="color: #707070; font-size: 14px; padding: 5px 0; line-height: 18px; margin-bottom: 10px;">
            {{element.email}} <br>
            {{element.phone}} <br>
          </div>

        </td>
      </ng-container>
      <!-- [end] DATA CELL TEMPLATE -->


      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> -->

      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container> -->

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container> -->

      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- [end] DATA TABLE -->
  </div>
  <div class="right-column" fxFlex="80%">
    <header class="" fxLayout="column">
      <div class="" fxLayout="row" style="background-color: #FFFFFF; padding: 20px;">
        <div fxFlex="70%" style="">

          <div class="" fxLayout="row">
            <div style="color: #707070; font-size: 20px;">Manny Ribera</div>
            <div style="color: #0093D5; font-size: 11px; font-weight: 700; padding: 0 5px;">New</div>
            <div>
              <mat-icon>edit</mat-icon>
            </div>
          </div>

          <div style="color: #707070; font-size:14px; padding: 1px 0;">email@email.com</div>
          <div style="color: #707070; font-size:14px; padding: 1px 0;">Sales Department | Sales</div>
          <div style="color: #707070; font-size:14px; padding: 1px 0;">(000) 000-0000</div>

        </div>
        <div fxFlex="30%" style="text-align: right;">
          <button mat-raised-button style="">...</button>
          <button mat-raised-button style="">...</button>
          <button mat-raised-button style="background-color: #ad0000; color: #FFFFFF;">Delete</button>
        </div>
      </div>
      <div class="" fxLayout="row" style="width:100%; background-color:#F5F5F5; padding: 10px 20px;">
        <div fxFlex="25%" fxLayout="column">
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Account Name</strong>: Account Name</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Sales Rep</strong>: Account Name</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Lead Source</strong>: Account Name</div>
        </div>
        <div fxFlex="25%" fxLayout="column">
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Corp Identity</strong>: Account Name</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Description</strong>: Account Name</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Referred By</strong>: Account Name</div>
        </div>
        <div fxFlex="25%" fxLayout="column">
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Billing</strong></div>
          <div style="font-size:14px; color: #707070; padding: 1px 0">5445 Legacy Dr.</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0">Suite #420</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0">Plano, TX 75024</div>
        </div>
        <div fxFlex="25%" fxLayout="column">
          <div style="font-size:14px; color: #707070; padding: 1px 0"><strong>Shipping</strong></div>
          <div style="font-size:14px; color: #707070; padding: 1px 0">5445 Legacy Dr.</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0">Suite #420</div>
          <div style="font-size:14px; color: #707070; padding: 1px 0">Plano, TX 75024</div>
        </div>
      </div>
    </header>
  </div>
</div>

<!-- 
-------------------------------------------------
Copyright 2021 ElwoodBerry.com LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.elwoodberry.com 
-->